# Python bytecode
__pycache__
*.egg-info

# Django dynamic directories
logs
media

# Database files
*.sqlite3
*.rdb

# Environment variables
.env
.env.docker

temp_auto_push.bat
# Virtual environment
.venv
venv

# Static files
node_modules

# IDE config

.DS_Store
*.pyc

.idea
docs

.env.gitignore
temp_interactive_push.bat
